### **Import Library**

In [158]:
# USE csv.reader() TO READ A TSV FILE

import pandas as pd
import csv
csv.field_size_limit(10000000) # set field limit in row data

#tsv_file
#with open("SINGGALANG.tsv") as fd:
#    rd = csv.reader(fd, delimiter="\t", quotechar='"')
#    for row in rd:
#        print(row)

10000000

### **Import Data**

In [159]:
df = pd.read_csv('SINGGALANG.tsv',sep='\t',header=None,names=["Tokens","Tags"],error_bad_lines=False, engine="python")

Skipping line 263233: '	' expected after '"'
Skipping line 712939: unexpected end of data

In [160]:
df

            Tokens Tags
0               Ia    O
1         menjabat    O
2          sebagai    O
3         Presiden    O
4           ketiga    O
...            ...  ...
689899    zgjidhet    O
689900  presidente    O
689901           e    O
689902  Republikës    O
689903          ''    O

[689904 rows x 2 columns]

# **DATA PREPROCESSING**

In [161]:
df.shape

(689904, 2)

In [163]:
df.info

<bound method DataFrame.info of             Tokens Tags
0               Ia    O
1         menjabat    O
2          sebagai    O
3         Presiden    O
4           ketiga    O
...            ...  ...
689899    zgjidhet    O
689900  presidente    O
689901           e    O
689902  Republikës    O
689903          ''    O

[689904 rows x 2 columns]>